*{
    margin: 0;
    padding: 0;
}
body{
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
}
.container{
    background-color: red;
    width: 800px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.div{
    background-color: blue;
    width: 150px;
    height: 100px;
    right: 0;
    position: relative;
    left: 650px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}