@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Poppins:wght@200&family=Shadows+Into+Light&display=swap');
*{
    margin:0;
    border: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.container{
background: white;
padding:2rem;
box-shadow: 3px 3px 1px rgb(90, 90, 90);
border-radius: 17px;
}
main h2{
font-weight: 600;
margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
form .caixinha{
    margin-bottom: 0.5rem;
}
.caixinha{
    position: relative;
}
.caixinha input{
    outline: none;
    color:rgb(24, 24, 24);
    font-size: 0.9rem;
}
.caixinha input::placeholder{
    outline: none;
    color:rgb(104, 104, 104);
    font-size: 0.9rem;
}

form input[type="button"]{
    color: white;
    margin-top: 0.4rem;
    padding: 0.2rem;
    background: #537895;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    transition: all 0.9s ease;
}
form input[type="button"]:hover{
    background: #1d394e;

}
form input[type="reset"]{
    color: white;
    margin-top: 0.4rem;
    padding: 0.2rem;
    background: #537895;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    transition: all 0.9s ease;
}
form input[type="reset"]:hover{
    background: #1d394e;
}

.inicial input[type="button"] {
    color: white;
    margin-top: 0.4rem;
    padding: 2.5rem;
    background: #537895;
    cursor: pointer;
    font-weight: 300;
    border-radius: 5px;
    border: none;
    transition: all 0.9s ease;
}
.inicial input[type="button"]:hover{
    background: #1d394e;
}