<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Formulário de Cadastro de Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div class="conteudo">
        <div class="formul">
	<h1>Cadastrar Produtos</h1>
    <form action="#" th:action="@{/agendamento/add}" th:object="${agendamento}" method="post">
        <p><label>Dia: </label><input type="date" th:field="*{dia}" /></p>
		<p><label>Hora: </label><input type="time" th:field="*{hora}" /></p>
	
        <p><input type="submit" value="Agendar" /> <input type="reset" value="Reset" /></p>
    </form>
        </div>
        <div class="credit">Juliana Pienis Adams © 2022</div>    
    </div>

</body>
</html>