@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Poppins:wght@200&family=Shadows+Into+Light&display=swap');
*{
    margin:0;
    border: o;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fda085;
    flex-direction: column;
}
.calculadora{
    position: flex;
    background: white;
    padding: 1.2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #f6d365;
}
.calculadora h1{
    text-align: center;
    margin-bottom: 0.5rem;
}
button.botao1{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 3px;
    position: relative;
    background: #fda085;
    border:none;
    border-radius: 30px;
    transition: all 1s ease;
}
button.botao1:hover{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 3px;
    position: relative;
    background: #f6d365;
    border:none;
    border-radius: 30px;
}
button.botao2{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 3px;
    position: relative;
    background: #ffc6b6;
    border:none;
    border-radius: 30px;
    transition: all 1s ease;
}
button.botao2:hover{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 3px;
    position: relative;
    background: #f6d365;
    border:none;
    border-radius: 30px;
}
input{
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-color: #f6d365;
    border-style: solid;
    color:#fda085;
    margin-bottom: 0.5rem;
}
.assinatura{
    position: flex;
}
.assinatura h2{
    color:#df491f;
    padding: 0.5rem;
    font-size: 10px;
}