<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Listar Produtos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="menu">
        <a href="/produtos/"><i class="fa-solid fa-house"></i></a></a>
        <a class="cad" href="cadastrar"><i class="fa-solid fa-plus"></i></a>
        <a class="lis" href="listar"><i class="fa-solid fa-list"></i></a></a>
    </div>
	<div class="conteudo lista">
		<div class="formul">
	<h1>Listar Produtos</h1>
    <table>
		<thead>
		<tr>
			<th>ID</th>
			<th>Código</th>
			<th>Nome</th>
			<th>Categoria</th>
			<th>Valor</th>
			<th>Quantidade</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
<tbody>
		<tr th:each="p : ${produtos}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.codigo}"></td>
			<td th:text="${p.nome}"></td>
			<td th:text="${p.categoria}"></td>
			<td th:text="${p.valor}"></td>
			<td th:text="${p.quantidade}"></td>
		<td>
			<a th:href="@{/produtos/alterar/{id} (id=${p.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
		</td>
		<td>
			<a th:href="@{/produtos/excluir/{id} (id=${p.id})}"><i class="fa-solid fa-trash-can"></i></a>
		</td>
		</tr></tbody>
	</table>
	<a class="botao" href="/produtos/cadastrar">Cadastrar outro produto</a>
</div>
<div class="credit">Juliana Pienis Adams © 2022 | <a href="https://br.freepik.com/fotos-vetores-gratis/armazenamento">Armazenamento foto criado por aleksandarlittlewolf - br.freepik.com</a></div>    
</div>

<script src="https://kit.fontawesome.com/0a84b03181.js" crossorigin="anonymous"></script>	
</body>
</html>